<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
</head>

<body>
    <h1>{{title}}</h1>
    <h2>{{tagline}}</h2>

    <ul>
    {{#pagerefs}}
    <li><a href="post/{{.}}">{{.}}</a></li>
    {{/pagerefs}}
    </ul>

    {{#reload}}
    <script type="text/javascript" src="scripts/reload.js"></script>
    <script type="text/javascript">
        reload.watch();
    </script>
    {{/reload}}
</body>
</html>
